name: "CI"
on:
  push:
  pull_request:
    types: [opened, reopened]
jobs:
  check-formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v30
        with:
          extra_nix_config: |
            system-features = nixos-test recursive-nix benchmark big-parallel kvm
            extra-experimental-features = recursive-nix nix-command flakes
      - run: nix fmt . -- --ci
  tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v30
        with:
          extra_nix_config: |
            system-features = nixos-test recursive-nix benchmark big-parallel kvm
            extra-experimental-features = recursive-nix nix-command flakes
      - run: nix build
      - run: nix build .#doc
      - run: nix flake check
      - name: "Activate nix-darwin module"
        if: matrix.os == 'macos-latest'
        run: |
          ARCH="$(nix eval --impure --raw --expr builtins.currentSystem)"

          sudo mv /etc/nix/nix.conf{,.bak}
          nix build --no-link --print-out-paths .#checks."${ARCH}".integration
          ./result/activate-user
          sudo ./result/activate
      - name: "Test nix-darwin module"
        if: matrix.os == 'macos-latest'
        run: |
          sudo /run/current-system/sw/bin/agenix-integration
      - name: "Activate home-manager module"
        if: matrix.os == 'macos-latest'
        run: |
          # Do the job of `home-manager switch` in-line to avoid rate limiting
          nix build .#homeConfigurations.integration-darwin.activationPackage
          ./result/activate
      - name: "Test home-manager module"
        if: matrix.os == 'macos-latest'
        run: |
          ~/agenix-home-integration/bin/agenix-home-integration
